<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nenecorp.chatapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChatApp"
        android:allowBackup="true"
        android:icon="@drawable/dr_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dr_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userinterface.ChatScreen"></activity>
        <activity android:name=".userinterface.AddContact" />
        <activity android:name=".userinterface.ProfileActivity" />
        <activity android:name=".userinterface.ContactsActivity" />
        <activity android:name=".userinterface.HomeActivity" />
        <activity android:name=".userinterface.MyLanguage" />
        <activity android:name=".userinterface.SignUpActivity" />
        <activity android:name=".userinterface.LoginActivity" />
        <activity android:name=".userinterface.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>